@media only screen and (max-width: 750px) {
  .header {
    text-align: center;
    position: static;
    padding-top: 10px;
  }
  .logo {
    display: block;
    float: none;
    width: 117px;
    margin: 0 auto;
  }
  .menu {
    display: block;
    float: none;
    text-align: center;
    margin: 20px 0;
  }
  .menu_list {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
  .header_button {
    width: auto;
    display: inline-block;
    float: none;
    margin: 0 auto 10px;
  }
  .promo {
    height: 500px;
    background: url(../img/promo.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin-bottom: 30px;
  }
  .promo_wrapper {
    margin-top: 180px;
  }
  .promo_title {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .promo_text {
    font-size: 30px;
  }
  .gallery_text {
    line-height: 35px;
    margin-bottom: 20px;
  }
  .photo_list {
    text-align: center;
    margin-bottom: 20px;
  }
  .photo_link {
    display: inline-block;
    width: 40%;
    margin-right: 5%;
  }
  .photo_link:nth-child(3n) {
    margin-right: 5%;
  }
  .photo_link:nth-child(even) {
    margin-right: 0;
  }
  .partners {
    margin-bottom: 30px;
  }
  .partner_list {
    text-align: center;
    padding: 40px 43px 20px 43px;
  }
  .partner_item {
    width: 30%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .reviews {
    padding-bottom: 50px;
  }
  .reviews_text {
    margin-bottom: 20px;
    line-height: 30px;
  }
  .reviews_list {
    padding: 0 5px;
    margin-bottom: 50px;
    text-align: center;
  }
  .review_item {
    text-align: left;
    width: 90%;
    margin: 0 auto 30px;
  }
  .review_item_text {
    margin-bottom: 0;
  }
  .review_author {
    text-align: right;
  }
}

@media only screen and (max-width: 525px) {
  .menu {
    display: none;
  }
  input.sandwich {
    display: none;
  }
  input.sandwich:checked ~ .menu{
    display: block;
  }
  .sandwich {
    font-size: 20px;
    display: block;
    color: #2c2e37;
    width: 30%;
    padding: 5px 15px;
    margin: 10px auto 10px;
  }
  .menu_item {
    display: block;
    margin-right: 0;
  }
  .menu_link {
    line-height: 16px;
    display: inline-block;
    padding: 10px 20px;
  }
  .menu_link:hover {
    padding: 10px 20px;
    border-bottom: none;
  }
  .promo {
    height: 370px;
    background-position: 0 50%;
    text-align: center;
  }
  .promo_wrapper {
    margin-top: 130px;
  }
  .promo_title {
    font-size: 35px;
  }
  .promo_text {
    font-size: 25px;
  }
  .partner_list {
    padding: 20px 0 0 0;
  }
  .partner_item {
    width: 40%;
    margin-bottom: 20px;
  }
  .reviews {
    background-position: 50% 400%;
  }
  .reviews_list {
    margin-bottom: 0;
  }
  .review_item {
    margin-bottom: 50px;
  }
  .review_author {
    text-align: left;
  }
  .avatar {
    display: block;
  }
  .contacts_form {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  .form_text {
    margin-bottom: 15px;
  }
  .input_name, .input_phone, .input_email {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
  }
  .input_button {
    padding: 15px 40px;
  }
}